.modal-backdrop.show {
    opacity: 0.4;
}
.fade{
    &:not(.tab-pane) {
        visibility: hidden;

        @include transition(all 0.3s);
        .modal-content {
            @include scale(0.7);
            opacity: 0;
            @include transition(all 0.3s);
            border: 0;
        }
        &.show {
            visibility: visible;
            .modal-content {
                @include scale(1);
                opacity: 1;
            }
        }
    }
}

.modal-default {
    @include media-breakpoint-up(xs) {
        max-width: 460px;
    }
}
.modal-lg {
    @include media-breakpoint-up(md) {
        max-width: 720px;
    }
    @include media-breakpoint-up(lg) {
        max-width: 960px;
    }
    @include media-breakpoint-up(xl) {
        max-width: 1140px;
    }
    @media (min-width: 1600px) {
        max-width: 1495px;
    }
}
.modal-md {
    @include media-breakpoint-up(md) {
        max-width: 720px;
    }
    @include media-breakpoint-up(lg) {
        max-width: 930px;
    }
}
    .commonModal {
        .close {
            font-size: 30px;
            color: color(900);
            font-family: font(rg);
            opacity: 1;
            transition: all 1s;
            position: absolute;
            right: 30px;
            margin: 0;
            z-index: 1;
            padding: 0%;
            &:hover {
                color: color(500);
            }
        }
        &--videoMsg {
            .modal-content {
                max-width: 680px;
                .modal-body {
                    padding: 15px;
                }
            }
        }
        .modal-content {
            border-radius: 5px;
        }
        .modal-body{
            padding: 15px 30px 15px;
            .input-group{
                &-text{
                    background-color: color(250);
                    border-color: color(250);
                    font-family: font(bd);
                }
            }
        }
        .modal-header{
            padding: 30px 30px 15px;
        }
        .modal-title{
            font-size: 24px;
            line-height: 32px;
            font-family: font(eb);
        }
        .modal-footer {
            padding: 30px;
            flex-wrap: nowrap;
            .btn {
                width: 50%;
                margin: 0;
                font-size: 20px;
                font-family: font(bd);
                + .btn {
                    margin-left: 15px;
                }
            }
        }

        @include media-breakpoint-down(xs){
            .close{
                right: 15px;
            }
            .modal-header , .modal-body, .modal-footer {
                padding: 15px;
            }

            .modal-title{
                font-size: 18px;
            }
        }
        @import 'modal-message';
        @import 'modal-success-msg';
        @import 'modal-reject-msg';
        @import 'modal-eduction';
        @import 'modal-transaction';
        @import 'modal-feedback';
        @import 'modal-charges';
        @import 'modal-success';
        @import 'modal-redeem';
        @import 'modal-newtopic';
        @import 'modal-refer-now';
    }



