APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_READ_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_SECURE_COOKIE=true
SESSION_DOMAIN=null

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
MIX_APP_URL="${APP_URL}"

APP_AESENCRYPT_KEY=

JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
TWITTER_API_KEY=
TWITTER_API_SECRET_KEY=
APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=
FILESYSTEM_DRIVER=public
FILESYSTEM_DRIVER_PRIVATE=public

DEFAULT_CURRENCY=SAR

AGORA_APP_ID=
AGORA_APP_CERTIFICATE=

AGORA_ACCESS_KEY=
AGORA_SECRET_ACCESS_KEY=
AGORA_APP_IDENTIFIER=
AGORA_APP_REGION=in-mum

FCM_SERVER_KEY=
FCM_SENDER_ID=
FCM_API_KEY=
FCM_PROJECT_ID=
FCM_APP_ID=

FFMPEG_BINARIES=
FFPROBE_BINARIES=

GOOGLE_PLACES_API_KEY=

CLASS_MAX_STUDENT=
CLASS_BOOKING_BEFORE=
CLASS_CANCEL_BEFORE=

HYPERPAY_API_URL = https://test.oppwa.com
HYPERPAY_ACCESS_TOKEN = 
HYPERPAY_ENTITY_ID_VISA_MASTER = 
HYPERPAY_ENTITY_ID_MADA = 
HYPERPAY_PAYOUT_API_URL=
HYPERPAY_PAYOUT_ACCESS_TOKEN=
HYPERPAY_PAYOUT_CONFIG_ID=

MESSAGE_DAYS = 

SOCKET_URL=http://localhost:6321
DEFAULT_PAYMENT_GATEWAY=

ENABLE_SECRET_MANAGER=false
SECRET_MANAGER_PROVIDER='AWS'
CHECK_SECRET_MANAGER_API=false
AWS_PROFILE_NAME=''
AWS_SECRET_NAME = ''
AWS_CREDENTIALS_PATH=''
AWS_SHARED_CONFIG=false

WEBHOOK_SPLIT_URL_KEY
WEBHOOK_URL_KEY


WEBHOOK_URL_KEY=
WEBHOOK_SPLIT_URL_KEY=

TELESCOPE_PATH='admin/tracking'
TELESCOPE_CACHE_WATCHER=false
TELESCOPE_COMMAND_WATCHER=false
TELESCOPE_EVENT_WATCHER=false
TELESCOPE_EXCEPTION_WATCHER=false
TELESCOPE_JOB_WATCHER=false
TELESCOPE_LOG_WATCHER=false
TELESCOPE_MAIL_WATCHER=false
TELESCOPE_MODEL_WATCHER=false
TELESCOPE_NOTIFICATION_WATCHER=false
TELESCOPE_QUERY_WATCHER=false
TELESCOPE_REDIS_WATCHER=false
TELESCOPE_REQUEST_WATCHER=true
TELESCOPE_GATE_WATCHER=false
TELESCOPE_SCHEDULE_WATCHER=false
TELESCOPE_VIEW_WATCHER=false

GOOGLE_ANALYTICS_ENABLED = false 
GOOGLE_ANALYTICS_KEY=