/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
*.env
*.env.*
*.env.swp
*.DS_Store*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/composer.lock
/.vscode
/public/uploads
/public/assets/css
/public/assets/js
/public/mix-manifest.json
/.scannerwork
/.env.example.example
/public/assets/fonts
/package-lock.json
/public/socket/node_modules
/public/socket/package-lock.json
!.env.docker.example
!.env.example
