&--referEarnModal{
    ul{
        li{
            &:not(:last-child){
                margin-right: 0;
                margin-left: 15px;
            }
        } 
    }  
    @include media-breakpoint-down(sm) {
        ul{
            li{
                &:not(:last-child){
                    margin-right: 0;
                    margin-left: 10px;
                }
            }
        }
    }
} 
