.pageHead{
	.dot-success{
		background-color: #486F5D; 
	}
	&__right{
		.btn-toolbar{
			padding:10px 0;
			align-items: center;
			li{
				&:not(:last-child){
					margin-right: 15px;
				}
			}
		}
	}
	@media (max-width:767px){
		padding-bottom: 20px;
		&__right{
			.btn-toolbar{
				padding:10px 0;
				li{
					&:not(:last-child){
						margin-right: 10px;
					}
					> .btn{
						padding: 5px 10px;
					}
				}
			}
		}
	}
	@media (max-width:400px){
		.breadcrumb-item{
			font-size: 10px;
		}
		.btn-toolbar{
			li{
				&:not(:last-child){
					margin-right: 8px;
				}
			}
		}
	}
}