.form-group,
.input-group { 
  &-icon{
      position: relative;
      .form-control{padding-left: 45px;padding-right: 15px;} 
      .icon{
          left: 0;
          right: auto;
      }
  }
  .form-control{
    &:not(:first-child){  
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  .input-group-prepend{
    .input-group-text{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; 
      border-top-right-radius: .25rem;
      border-bottom-right-radius: .25rem;
    } 
  }
  .input-group-addon{ 
    right: auto;
    left:0;
  } 
}
 